<table class="table table-bordered">
    <tr>
        <td class="fw-semibold">Όνομα:</td>
        <td class="ps-2">{{ doctorInfo.firstname }}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Επώνυμο:</td>
        <td class="ps-2">{{ doctorInfo.lastname }}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Ειδικότητα:</td>
        <td class="ps-2">{{ doctorInfo.doctorSpecialty }}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Πόλη:</td>
        <td class="ps-2">{{ doctorInfo.city }}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Διεύθυνση:</td>
        <td class="ps-2">{{ doctorInfo.address }}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Τηλέφωνο:</td>
        <td class="ps-2">{{ doctorInfo.phoneNumber }}</td>
    </tr>
</table>